@import "./colors.scss";
@import "./font.scss";

@function rem-calc($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  font-family: $montserrat, $sans-serif;
}

body {
  background-color: $background-main;
  margin: 0;
  color: $dark-blue;
}

.container {
  margin: 0 rem-calc(24);
  @media (min-width: 992px) {
    width: 80%;
    margin: 0 auto;
  }
}
